.menu {
    @include flex-column;
    margin: 25px 0px 15px 0px;

    .info-carrito {
        @include flex-column;
        @include margin-gap-padding;
        margin-right: 50px;

        .section-header {
            font-weight: normal;
            color: #333;
            text-align: center;
            font-size: 2em;
        }

        .fila-carrito {
            @include flex-row;
            gap: 4em;
            border-bottom: 1px solid black;

            .carrito-header {
                font-weight: bold;
                font-size: 1.25em;
                color: #333;
            }

            .columna-carrito {
                display: flex;
                align-items: center;
                justify-content: center;
                
                padding-bottom: 10px;
                margin-top: 10px;
            }

            .producto-carrito {
                width: 25%;
                display: flex;
            }

            .precio-carrito {
                font-size: 1.2em;
                color: rgb(0, 0, 0);
            }

            .cantidad-carrito {
                width: 35%;
            }

            .producto-nombre {
                color: rgb(0, 0, 0);
                margin-left: .5em;
                font-size: 1.2em;
            }
        }

        .productos-carrito {
            @include flex-column;
        }
    }
}

@media (min-width: 1024px) {
    .menu {
        @include flex-row;
        gap: 150px;
    }

    .info-carrito {
        @include flex-column;
        @include margin-gap-padding;
        align-self: flex-start;
    }
}